*
*::before
*::after
{
    box-sizing: border-box;
    font-family: "poppins" , sans-serif; 
}

body{
    background-color: black;
    color: white;
    margin: 0 8px;
}

/* input,
button{
    border: none;
} */

header{
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    width: 32px auto;
    margin: 0;
    /* padding: 16px 32px; */
    /* background-color: blue; */
}

.header-img{
    width: 0 12px;
    align-self: center;
}


.SignIn-Btn{
    font-size: 12px;
    border-style: none;
    border: 1px;
    border-radius: 5px;
    background-color: red;
    color: white;
    width: 2px 32px;
}

.Unlimited-Email{
    display: flex;
    width: 0 24px;
}

.unlimited{
    display: block;
    text-align: center;
    width: 0 64px;
    align-content: center;
    align-self: center;
    justify-self: center;
}

.Kids{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 0 150px;
    margin: auto;
}

.Img-Kids{
    width: 0 16px;
}

.P-Kids{
    border: 1px solid black;
    width: 12px 24px;
}

.Email{
    display: flex;
    width: max-content;
}

.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88px;
    height: 100px;
    margin: auto;
}

.TV-Image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 0 16px;
    margin: auto;
}

.TV{
    width: 0 16px;
}

.Download{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 0 16px;
    margin: 0 4px;
}

.Unlimited{
    display: block;
    align-items: center;
    justify-content: space-between;
    width: 0 16px;
    margin: auto;
}



.Li-Questions{
    border: 1px solid rgba(112, 108, 108, 0.295);
    width: 0 25%;
    margin-top: 8px;
}

footer{
    display: flex;
    justify-content: space-between;
    width: 0 24px;
    margin: auto;
}

.List-Wrapper{
    display: flex;
}

li{
    list-style: none;
}